<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']" title="Wine.com the destination for Wine and Wine Gifts">
        <img src="http://cache.wine.com/images/logos/120x40_winecom_logo.png" alt="Wine.com the destination for Wine and Wine Gifts" />
      </a>
      <a [routerLink]="['ownwines']" class="navbar-link">Own wines</a>
      <a [routerLink]="['wines']" class="navbar-link">Shop wines</a>
    </div>
  </div>
</nav>
