<div class="col-xs-12 col-md-6">
  <div class="list-group">
    <a class="list-group-item row" *ngFor="let item of wineCom; let i = index" [routerLink]="i">
    <span class="media">
      <span class="media-left">
        <img src="{{item.Labels[0].Url}}" alt="{{item.Labels[0].Name}}">
      </span>
      <span class="media-body">
        {{item.Vineyard.Name}}
        <h4 class="list-group-item-heading">
          {{item.Appellation.Name}} {{item.Varietal.Name}} {{item.Vintage}}
        </h4>
        <span class="list-group-item-text">
          <span *ngIf="item.Appellation.Region.Area">
            {{item.Appellation.Region.Area}},
          </span>
          {{item.Appellation.Region.Name}}
        </span>
      </span>
    </span>
    </a>
  </div>
</div>
<div class="col-xs-12 col-md-6">
  <router-outlet></router-outlet>
</div>

<!--
<pre>{{wineCom | json}}</pre>
-->
